@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../vendor/hint.min.css";

/* This file is for your main application CSS */

@layer utilities {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.scroll-shadows {
    background:
        linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
        radial-gradient(farthest-side at 50% 0,
            rgba(212, 212, 216, 0.5),
            rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%,
            rgba(212, 212, 216, 0.5),
            rgba(0, 0, 0, 0)) 0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size:
        100% 18px,
        100% 18px,
        100% 6px,
        100% 6px;
}